GCTECH_FIREBASE_CONFIG_PATH=C:\Users\GC\Documents\GC-Eletronica\GCTech\firebase-applet-config.json
GOOGLE_APPLICATION_CREDENTIALS=
OPS_WEBHOOK_TOKEN=
# Alternative:
# FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
